<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>form validation</title>
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


</head>


<body>
    <div class="main">
    <div class="container">
    <div class="header">
    <h2>Sign Up</h2><br><h4>It's quick and easy</h4>
    </div>
    <form action ="index.html" class="form" id="form">
    <div class="field">
    <label >Full Name:</label>
    <input type = "text" placeholder="Vincent Maverick Durano" id ="uname">
    
    
    </div>
    <!--Username:-->
    <div class="field">
    <label >Username:</label>
    <input type = "text" placeholder="Vinz" id ="email">
    
    </div>
    <!--Email-->
    
    
    <div class="field">
    <label >Email:</label>
    <input type = "text" placeholder="Vinz@gmail.com" id ="email">
    
    </div>
    
    <!--Password-->
    <div class="field">
    <label >Password</label>
    <input type = "text" placeholder="*******" id ="password">
    
    </div>
    <!--Re- Password-->
    <div class="field">
    <label >Re- Password</label>
    <input type = "text" placeholder="*******" id ="password">
    
    </div>
    <!--Adderss-->
    <div class="field">
    <label >Address</label>
    <input type = "text" placeholder="Cebu, philippines" id ="password">
    
    </div>
    <!--Age-->
    <div class="field">
    <label >Age</label>
    <input type = "text" placeholder="22" id ="password">
    
    </div>
    <!--Adderss-->
    <div class="field">
    <label>Gender:</label>
    <select name="">
    <option value="male">male</option>
    <option value="female">female</option></select>
    </div>
    <button type="button" class="btn btn-info">Sign Up</button> or
    <button
    type="button"
    class="btn btn-info"
    (click)="openPopup()">Log In
  </button>
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body">
            <input type = "text" placeholder="Enter Your Email"><br>
            <input type = "text" placeholder="Enter Your Password"><br>
            <button type="button" class="btn btn-primary">Submit</button>
            
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" 
                  (click)="closePopup()">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
    
    </form>
    </div>
    <script src="form validation.js"></script>
</div>
    </body>
    </html> 
