<img src="./assets/ski.jpg" width="1296">
<h3>Heli-Skiing - Manali and Gulmarg</h3>
<p>Heli-skiing is essentially about skiing in a natural, albeit highly-selected environment, without the effort required for hiking into these areas.

India is one country blessed with the best of every natural resource, be it the rivers, valleys or mountains. Thus, there are a lot of mountain ranges in the north where heli skiing is undertaken regularly.

Aircopters India offers this in Manali and Gulmarg, India.

Skiing takes place on long rolling ridge lines; through glades of birch and oak trees; down steep cirque bowls or on huge undulating glaciers.

In Manali, most skiing takes place between high valley floors around 2700 m and ridges at 4300 m, with verticals averaging between 900 m and 1200 m. However, some of our most spectacular terrain is as high as 5000 m.

Gulmarg heli-skiing runs can be up too 2000m vertical and several km long. An average day is several runs in the alpine zone. The picturesque town in the splendid valley of Kashmir, Gulmarg is the premier winter sports destination in India.</p>
<button type="button" class="btn btn-primary">Enquire Now</button> OR <button>Call : +91 9811120318, 9818520318 or mail us : info@aircoptersindia.net</button><hr>

<img src="./assets/film.jpg" width="1296">
<h3>Film Shooting</h3>
<p>Aerial filming is, by it's very nature, complex and generally quite expensive. But in the right hands it can also deliver some spectacular shots adding to the production value of your project. Our careful choice of crew, pilots and aircraft ensure that safety is paramount.

Helicopters for filming basically fall into two categories: those being filmed (picture ship) and those doing the filming (camera ship). We can supply virtually any type for the picture ship, but the choice of camera ships are restricted.

A number of high profile media clients and celebrities choose Aircopters India for their helicopter and Jet charter requirements. Personal and discrete service is assured.</p>
<button type="button" class="btn btn-primary">Enquire Now</button> OR <button>Call : +91 9811120318, 9818520318 or mail us : info@aircoptersindia.net</button><hr>


<img src="./assets/ambulance.jpg" width="1296">
<h3>AIR AMBULANCE</h3><p>
Aircopters India provides air ambulance services for critically ill, injured in India, Bangladesh, Bhutan, Sri Lanka, Nepal, Maldives, Pakistan, Afghanistan, Kazakhstan, Kyrgyzstan, Tajikistan, Uzbekistan, Iraq, UAE, S. Africa Singapore, Thailand, Malaysia, Indonesia, China, Japan and other countries in Asia and Africa. With its associate network, Air Charters India provides air ambulance services/International charters around the world.

Common medevac aircrafts provided are the King Air Turbo Props, Citation Jets, LearJet 35, LearJet 55, LearJet 60, Hawker 800XP, Hawker 900XP, Challenger 604, Legacy 600, Gulfstream, Dornier 328 etc.
</p>
<h4>Aircrafts used in India for Air Ambulance:-</h4>
<ul>
<li>King Air C90, twin engine turbo prop</li>
<li>King Air B200, twin engine turbo prop</li>
<li>Pilatus PC12, single engine turbo prop</li>
<li>Cessna Citation II, twin engine executive jet</li>
<li>Cessna Citation XL, twin engine executive jet</li>
</ul><p>
Facilities provided for Medevac or Air Ambulance are dependent on requirements of the client/patient.</p>

<p>Helicopters are used for sitting patients and for evacuation from remote areas.</p>

<b>Information required for medical evacuation:-</b><ul>
  <li>Patient's medical condition</li>
  <li>Is the patient stabilized and medically cleared to fly?</li>
  <li>No of accompanying passengers. Will they have their own doctor/medical personnel?</li>
  <li>Has the hospital/doctor requested specific equipment to be available on board?</li>
  <li>Contacts of treating and receiving doctor/hospital.</li></ul>
  <h4>MISSION & VALUES</h4>
<p>To provide the highest caliber of air ambulance transportation. Our main aim is to provide smooth and comfortable, complete bed to bed, air ambulance services all over the world.</p>

<p>Our complete medical air transportation service ensures continuity of quality care to all our patients whether it is a critical care flight or a basic life support flight.</p>

<h4>Why choose Us:</h4><ul>
  <li>Our Air Ambulance Services are on call 24x7 for medical evacuation.</li>
    <li>Aircrafts come complete with advance life saving equipment including doctors, attendant etc.</li>
      <li>We are quick reliable fastest service provider in India and all over the world.</li>
        <li>We offer flight options that suits your budget, needs and timings.</li>
          <li>Very Genuine & Cost Effective Pricing </li></ul>
<button type="button" class="btn btn-primary">Enquire Now</button> OR <button>Call : +91 9811120318, 9818520318 or mail us : info@aircoptersindia.net</button><hr>
