
<table class="table">
  <tr>
  <th>Name</th>
  <th>Pic</th>
  <th>Details</th>
  </tr>
  <tr class="EC-155">
  <td>EC 155</td>
  <td><img src="./assets/EC155.jpg" class="rounded-circle" height="200" width="300"></td>

  <td>
    <b>Passengers:</b>13<br>
    <b>Cruise Speed</b>324 KM/H<br>
    <b>Range:</b>857 KM<br>
    <b>Manufacturer:</b>Eurocopter/Airbus
    <p><button
style="margin: 50px; padding: 10px"
type="button"
class="btn btn-primary"
(click)="openPopup()">Book Now
</button></p>
<div
class="modal"
tabindex="-1"
role="dialog"
[ngStyle]="{'display':displayStyle}">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title">Aircopters</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-12">
    <h2><code>Book the helicopter</code></h2>
    <input type = "text" placeholder="Enter Your Name"><br>
    <input type = "date" placeholder="dd/mm/yyyy"><br>
    <a href="#"></a>
    <input type = "phone number" placeholder="Contact Number"><br>
    <input type = "text" placeholder="Source">To<input type = "text" placeholder="Destination">    
    <button type="button" class="btn btn-info">Submit</button>
    </div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-danger"
(click)="closePopup()">
Close
</button>
</div>
</div>
</div>
</div>
  </div></td></tr>

  <tr>
  <td>EC 145</td>
  <td><img src="./assets/EC145.jpg" class="rounded-circle" height="200" width="300"></td>
  <td>
    <b>Passengers:</b>5<br>
    <b>Cruise Speed</b>246 KM/H<br>
    <b>Range:</b>680 KM<br>
    <b>Manufacturer:</b>Eurocopter/Airbus
    <p><button
      style="margin: 50px; padding: 10px"
      type="button"
      class="btn btn-primary"
      (click)="openPopup()">Book Now
      </button></p>
      <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Aircopters</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <h2><code>Book the helicopter</code></h2>
          <input type = "text" placeholder="Enter Your Name"><br>
          <input type = "date" placeholder="dd/mm/yyyy"><br>
          <a href="#"></a>
          <input type = "phone number" placeholder="Contact Number"><br>
          <input type = "text" placeholder="Source">To<input type = "text" placeholder="Destination">    
          <button type="button" class="btn btn-info">Submit</button>
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger"
      (click)="closePopup()">
      Close
      </button>
      </div>
      </div>
      </div>
      </div>
        </div>
        
  </td>
  </tr>
  <tr>
  <td>EC 130</td>
  <td><img src="./assets/EC130.jpg" class="rounded-circle" height="200" width="300"></td>
  <td>
    <b>Passengers:</b>5<br>
    <b>Cruise Speed</b>246 KM/H<br>
    <b>Range:</b>610 KM<br>
    <b>Manufacturer:</b>Eurocopter/Airbus
    <p><button
      style="margin: 50px; padding: 10px"
      type="button"
      class="btn btn-primary"
      (click)="openPopup()">Book Now
      </button></p>
      <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{'display':displayStyle}">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Aircopters</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
          <h2><code>Book the helicopter</code></h2>
          <input type = "text" placeholder="Enter Your Name"><br>
          <input type = "date" placeholder="dd/mm/yyyy"><br>
          <a href="#"></a>
          <input type = "phone number" placeholder="Contact Number"><br>
          <input type = "text" placeholder="Source">To<input type = "text" placeholder="Destination">    
          <button type="button" class="btn btn-info">Submit</button>
          </div>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-danger"
      (click)="closePopup()">
      Close
      </button>
      </div>
      </div>
      </div>
      </div>
        </div>
  </td>
  </tr>
  <tr>
    <td>Gulfstream 550</td>
    <td><img src="./assets/Gulfstream.jpg" class="rounded-circle" height="200" width="300"></td>
    <td>
      <b>Passengers:</b>18<br>
      <b>Cruise Speed</b>850 KM/H<br>
      <b>Range:</b>1250 KM<br>
      <b>Manufacturer:</b>Gulfstream
      <p><button
        style="margin: 50px; padding: 10px"
        type="button"
        class="btn btn-primary"
        (click)="openPopup()">Book Now
        </button></p>
        <div
        class="modal"
        tabindex="-1"
        role="dialog"
        [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Aircopters</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
            <h2><code>Book the helicopter</code></h2>
            <input type = "text" placeholder="Enter Your Name"><br>
            <input type = "date" placeholder="dd/mm/yyyy"><br>
            <a href="#"></a>
            <input type = "phone number" placeholder="Contact Number"><br>
            <input type = "text" placeholder="Source">To<input type = "text" placeholder="Destination">    
            <button type="button" class="btn btn-info">Submit</button>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger"
        (click)="closePopup()">
        Close
        </button>
        </div>
        </div>
        </div>
        </div>
          </div>
    </td>
    </tr>
    <tr>
      <td>Twin Piston :P68</td>
      <td><img src="./assets/Twin.jpg" class="rounded-circle" height="200" width="300"></td>
      <td>
        <b>Passengers:</b>4<br>
        <b>Cruise Speed</b>298 KM/H<br>
        <b>Range:</b>2112 KM<br>
        <b>Manufacturer:</b>Partenavia Vulcanair
        <p><button
          style="margin: 50px; padding: 10px"
          type="button"
          class="btn btn-primary"
          (click)="openPopup()">Book Now
          </button></p>
          <div
          class="modal"
          tabindex="-1"
          role="dialog"
          [ngStyle]="{'display':displayStyle}">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title">Aircopters</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-12">
              <h2><code>Book the helicopter</code></h2>
              <input type = "text" placeholder="Enter Your Name"><br>
              <input type = "date" placeholder="dd/mm/yyyy"><br>
              <a href="#"></a>
              <input type = "phone number" placeholder="Contact Number"><br>
              <input type = "text" placeholder="Source">To<input type = "text" placeholder="Destination">    
              <button type="button" class="btn btn-info">Submit</button>
              </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-danger"
          (click)="closePopup()">
          Close
          </button>
          </div>
          </div>
          </div>
          </div>
            </div>
      </td>
      </tr>
  </table>
  
